language: ruby
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - 2.1.1
  - ruby-head
  - ree
  - jruby-18mode
  - jruby-19mode
  - jruby-20mode
  - jruby-head
matrix:
  allow_failures:
    - rvm: ruby-head
before_install:
  - sudo apt-get install -qq graphicsmagick
