language: ruby
cache: bundler
rvm:
  - 1.9.3
  - 2.0
  - 2.1
  - 2.2
  - 2.3
  - 2.4
  - 2.5
  - 2.6
  - 2.7
  - jruby
  - ruby-head
env:
  - IM_VERSION=7.0.8
  - IM_VERSION=6.9.10
matrix:
  allow_failures:
    - rvm: ruby-head
before_install:
  - sudo apt-get update
  - sudo apt-get install -qq graphicsmagick
  - bash install/imagemagick.sh
  - gem update bundler
